<!-- https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=crud-data-table-for-database-with-modal-form -->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>PhoneBook</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/CSS/style.css">

</head>
<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-7">
						<h2>Manage <b>phoneBook</b></h2>
					</div>
					<div class="col-sm-5">
						
						<!-- <a href="#deleteContactModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>						 -->
						<a href="#addContactModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Contact</span></a>

						<form class="btn example" style="margin:auto" method="POST" action="/searchContact">
							<input type="text" class="form-control" id="searchPhone" placeholder="Search.." name="phone">
							<button type="submit"><i class="fa fa-search"></i></button>
						</form>
						
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    <% for(var ct of info){ %>
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox<%= ct.id %>" name="options[]" value="<%= ct.id %>">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td><%= ct.name %></td>
                            <td><%= ct.phone %></td>
                            <td>
                                <a href="#editContactModal" class="edit" data-toggle="modal"><i class="material-icons" onclick = "editContact('<%= ct.id %>', '<%= ct.name %>', '<%= ct.phone %>')" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                <a href="#deleteContactModal" class="delete" data-toggle="modal"><i class="material-icons" onclick="deleteContact('<%= ct.id %>')" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </td>

                        </tr>
                        <% }%>
                </tbody>
            </table>
        </div>
	</div>
	
	<!-- Add Modal HTML -->
	<div id="addContactModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="POST" action="/addnewContact">
					<div class="modal-header">						
						<h4 class="modal-title">Add Contact</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Name</label>
							<input type="text" value="<%= name %>" name="name" id="addName" placeholder="Name" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Contact</label>
							<input type="text" value="<%= phone %>" name="phone" id="addNumber" placeholder="880-1234567890" maxlength="14" class="form-control" required>
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <button class="btn btn-success">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Edit Modal HTML -->
	<div id="editContactModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="POST" action="/editContact">
					<div class="modal-header">						
						<h4 class="modal-title">Edit Contact</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Name</label>
							<input type="text" value="<%= name %>" id="editName" name="name" placeholder="Name" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Phone</label>
							<input type="text" value="<%= phone %>" id="editPhone" name="phone" placeholder="880-1234567890" maxlength="14" class="form-control" required>
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="hidden"  value="<%= id %>" name = "id" id="editId" />
						<button class="btn btn-success">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Delete Modal HTML -->
	<div id="deleteContactModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="POST" action="/DeleteContact">
					<div class="modal-header">						
						<h4 class="modal-title">Delete Contact Information</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Are you sure you want to delete this Records?</p>
						<p class="text-warning"><small>This action cannot be undone.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="hidden"  value="<%= id %>" name = "id" id="deleteId" />
						<input type="submit" class="btn btn-danger" value="Delete">
					</div>
				</form>
			</div>
		</div>
	</div>
		
	<script type="application/javascript" src="/Js/index.js"></script>
</body>
</html>                                		                            